.animator {
  position: relative;
}

.code-snippet {
  position: absolute;
  background-color: aqua;
  transition: opacity 0.5s, left 1s;
}

.code-snippet__removal {
  display: none;
}

.code-snippet__add {
  opacity: 0;
}

.execute {
  margin-top: 20px;
}

textarea {
  margin-top: 100px;
  width: 600px;
  height: 200px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  resize: vertical;
  outline: none;
}
textarea:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
